@font-face {
    font-family: "Bruno Ace";
    src: url("/fonts/Bruno-Ace.woff2") format("woff2"),
         url("/fonts/Bruno-Ace.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }